.main{
    border: 20px solid black;
    background-color: saddlebrown;
    font-style: italic;
    color: snow;
    height: 500px;
    width: 400px;
}
h1{
    font-size: 50px;
    text-align: center;
   
}
#todo_item{
    height: 50px;
    width: 355px;
    font-size: 30px;
    margin-left: 15px;
    margin-right: 15px;
    
}
.but{
    height: 50px;
    width: 170px;
    font-size: 30px;
    margin-left: 15px;
    margin-right: 5px;
    margin-top: 10px;
    font-weight: bold;
    font-style: italic;
    color: saddlebrown;
}
.delbtn{
    margin-left: 30px;
    height: 30px;
    width: 80px;
    color: black;
    font-size: 20px;
    border: 2px solid black;
}
.li{
    font-size: 25px;
    color: black;
    margin-left: 5px;
    font-weight: bold;
    margin-right: 70px;

}
.editbtn{
    height: 30px;
    width: 80px;
    color: black;
    font-size: 20px;
    border: 2px solid black;
}